---
import CallToAction from '~/components/widgets/CallToAction.astro';
// import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Kirk from '~/assets/images/taryl_kirk.jpg'
import Kemp from '~/assets/images/adam_kemp (1).jpg'
import Heim from '~/assets/images/george.heim.jpg'
const metadata = {
  title: 'Donation',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Donation"
    title="Support Teenagers in their Pursuit of Astronomy"
    subtitle="We sincerely appreciate your generous support for PRO. Your contribution will help us provide more resources and research opportunities for students. For donation specifics, please contact us through emailing our school."
    actions={[
      { variant: 'primary', target: '_blank', text: 'Donate through email', href: 'mailto:finance@prismsus.org' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1729459370346-e9885cb35954?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'AstroWind Hero Image',
    }}
  />

  <Features2
    title="Areas We Dedicate In"
    subtitle="Discover our the wide range of opportunties for students."
    columns={3}
    items={[
      {
        title: 'Education',
        description:
          'Through providing hand on observation with theory discussions, astronomy is being taught in a interesting way.',
        icon: 'tabler:school',
      },
      {
        title: 'Telescope Design',
        description:
          'While serving as a facility improvement for the club and research group, engineering and physics knowledge is being practiced during the time.',
        icon: 'tabler:telescope',
      },
      {
        title: 'Photography',
        description: `Morning, evening, midnight, and all the other times, we gather and collect beautiful pictures in local Princeton area.`,
        icon: 'tabler:photo',
      },
      {
        title: 'Global Share',
        description:
          'We share our data and experience on our website and instagram to show people the beauty of the universe.',
        icon: 'tabler:network',
      },
      {
        title: 'Blog',
        description:
          'Using the most beautiful language to describe the stars we beloved, junior astronomers collect memories, condense, and share them in the blogs.',
        icon: 'tabler:article',
      },
      {
        title: 'Research',
        description:
          'While embrace the pretty life, we study the universe with our equipments.',
        icon: 'tabler:books',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from Our Teachers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Adam Kemp',
        job: 'Head of Engineering Department',
        image: {
          src:  Kemp,
          alt: 'Mr. Adam Kemp',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Taryl Kirk',
        job: 'Head of Physics Department',
        image: {
          src:  Kirk,
          alt: 'Dr. Taryl Kirk',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'George Heim',
        job: 'Head of Applied Physics Lab',
        image: {
          src:  Heim,
          alt: 'Mr. George Heim',
        },
      },
      // {
      //   testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
      //   name: 'Marilee Jones',
      //   job: 'Small business owner',
      //   image: {
      //     src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
      //     alt: 'Mark Wilkinson Image',
      //   },
      // },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Donate',
        href: 'mailto:finance@prismsus.org',
      },
    ]}
    title="Contribute to Astronomical Education."
    subtitle="Donate to help students access valuable astronomical equipment and better prepare them for future research."
  />
</Layout>
