---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';
// import RailStar from '~/assets/images/events/Light_Stack_170frames_Andromeda Gal_10sec_Bin1_19.0C_gain252_2024-10-11_214353.jpg'
import GroupTelescope from '~/assets/images/infrontofdish.jpg';
import Group_pict from '~/assets/images/group_pic/DSC_7091.jpeg';

const metadata = {
  title: 'PRISMS Radio Astronomy Observatory',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Observe',
        href: getPermalink('/observe'),
        icon: 'tabler:telescope',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline text-white">Welcome to </span>
      <br />
      <span class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl">PRObservatory</span>
      <span class="text-white dark:text-white text-4xl mt-3 block">PRISMS Radio Astronomy Observatory</span>
    </Fragment>

    <Fragment slot="subtitle">
      <!-- <span class="hidden sm:inline">
        <span class="font-semibold">PRO</span> is a cool Among Us project although I do not know what Among Us is.
      </span> -->
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      <span class="font-semibold text-white">PRO</span>
      <span class="text-white"
        >is a student ran observatory aiming to improve high schoolers' access to cutting-edge equipments.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      <span class="text-white">Click observe to make observation on PSRT.</span>
    </Fragment>

    <!-- >>>>>>> deba0cc166d0eb1a94bc8e772824a66048345cf4 -->
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="badum badum!!!"
    title="Our Mission"
    items={[
      {
        title: 'Research Opportunities',
        description:
          'PRO is established to give PRISMS students further research opportunities and grant access to large radio telescopes to more students.',
      },
      {
        title: 'Knowledge Sharing',
        description:
          'We share the experience and knowledge we gained in the project and learn more about astronomy together.',
      },
      {
        title: 'Community Engagement',
        description:
          'Engage with a community of like-minded individuals passionate about astronomy and collaborative learning.',
      },
    ]}
    image={{
      src: GroupTelescope,
      alt: 'Color image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        We serve as resource center for worldwide students who love astronomy
      </h3>
      blah blah bnlah add something here thanks
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <!-- need a picture of telescopes here -->
  <Content
    isAfterContent
    tagline="We Collect Cameras and Telescopes"
    title="Facilities"
    items={[
      {
        title: 'PRISMS Small Radio Telescope',
        description: `A 3m Diameter Radio Telescope focusing on Hydrogen Line.`,
      },
      {
        title: 'Mini Radio Telescope',
        description: 'An arpeture system that helps measure RFI environment.',
      },
      {
        title: 'Two Optical Telescope',
        description: 'Optical telescopes that can be connected to phones or cameras to take high quality pictures.',
      },
      {
        title: 'High Quality Cameras',
        description:
          'Cooperating with PRISMS Photography club, high quality astro images are being produced every day.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1729439385889-3894bb053b82?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <!-- Content Widget **********woshibnibaba****** -->
    <Fragment slot="content">Here is some of our equipment: </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Features
    id="features"
    tagline="What do we observe?"
    title="Data + Analysis"
    subtitle="The radio, optical, astronomical, environmental, atmospheric data that we observe, and why we observe them."
    items={[
      {
        title: 'Sun Radio Waves',
        description: 'Monitoring wideband radiowave emitted by sun allows better understanding of solar activity.',
        icon: 'tabler:sun-electricity',
      },
      {
        title: 'Remote Celestial Body Observation',
        description:
          'By cooperating with PRISMS photography club and visiting professional observatories, PRObservatory collect beautiful deep-sky pictures and analyze the celestial objects structures.',
        icon: 'tabler:galaxy',
      },
      {
        title: 'RFI Monitor',
        description:
          'Using the PRISMS Mini Radio Telescope, the team collects radio frequency interference data from spaces around the observatory for better radio telescope observation..',
        icon: 'tabler:wave-saw-tool',
      },
      {
        title: 'Other Radio Observation',
        description:
          'Using the big radio telescope, remote stars are being measured and further analysis is done to analyze their speed, direction of movement, component, and so on.',
        icon: 'tabler:topology-star-ring',
      },
      // {
      //   title: 'Search Engine Optimization (SEO)',
      //   description:
      //     "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
      //   icon: 'tabler:arrows-right-left',
      // },
      // {
      //   title: 'Open to new ideas and contributions',
      //   description:
      //     'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
      //   icon: 'tabler:bulb',
      // },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Activities"
    subtitle="List of things we do to see, study, and share the stars."
    tagline="What to enjoy with PRO"
    items={[
      {
        title: 'Lectures',
        description: "Lecture series from different famous astronomy and astrophysics researchers.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <Steps
    isReversed
    tagline="Get Involved"
    title="Join the PRO Team"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Observe</span>',
        description:
          'Access PSRT (PRISMS Small Radio Telescope) through the observe tab of this website, and generate a beautiful image with specified data from the analyzer.',
        icon: 'tabler:telescope',
      },
      {
        title: 'Step 2: <span class="font-medium">Contact PRO</span>',
        description:
          'Send an email to your masterpiece and the observational parameters to PRO, and confirm that you are willing to share your observation result on the PRObservatory website.',
        icon: 'tabler:mail',
      },
      {
        title: 'Step 3: <span class="font-medium">See Your Result</span>',
        description:
          'Show people what you observed and tell them the significance of your observation. You are the future of astronomy!',
        icon: 'tabler:eye',
      },
      {
        title: 'You are now a part of PRO!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: Group_pict.src,
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`See our activities at local Princeton and around the world in our blogs. We build, we observe, and we learn.
                  You can also subscrbe our instagram for more information!
                `}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Group Members', amount: '14' },
      { title: 'Celestial Body Observed', amount: '20' },
      { title: 'Telescopes', amount: '3' },
      { title: 'Astronomy Pictures', amount: '100+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Observe',
        href: getPermalink('/observe'),
        target: '_blank',
        icon: 'tabler:telescope',
      },
    ]}
  >
    <Fragment slot="title">
      See the Stars in Radiowaves&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Conduct your observation with the great tool following your thoughts and methods of exploring the universe. <br
        class="hidden md:inline"
      />Don't waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
