---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Observe',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Observe" title="Control Panel" />
  <!-- the starting html with specific link to a instruction of observation -->
  <div
    class="max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
  >
    Go to <a
      class="bold underline border-yellow-500"
      href="https://stellarium-web.org/"
      target="_blank"
      rel="noopener noreferrer">Stellarium</a
    >, set the location as "Princeton", and time as currnet time. Then start to find your star and observe! A more
    detailed guide to find you stars is available <a
      class="bold underline border-yellow-500"
      href="https://docs.google.com/document/d/e/2PACX-1vQYncAuxxHOp9nn7c-zlQgzz-zZ5lejJGyGF9-J6DKV72fv0ySl7CmTAm-ej4Yr5AWlEQLJzjiJGXCa/pub"
      >here</a
    >.
  </div>

  <ContactUs
    id="form"
    title="Control the PRISMS Small Radio Telescope"
    subtitle="New to radio astronomy? We're here to help!"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Observation Label',
      },
      {
        type: 'number',
        name: 'frequency',
        label: 'Central Frequency (MHz)',
      },
      {
        type: 'number',
        name: 'bandwidth',
        label: 'Bandwidth (MHz)',
      },
      {
        type: 'number',
        name: 'duration',
        label: 'Duration (minutes)',
      },
      {
        type: 'text',
        name: 'location',
        label: 'Location',
      },
      {
        type: 'text',
        name: 'observer',
        label: 'Observer',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    button="Start Observarion"
    description="We will send the observation data through email once it's complete."
  />
  <!--  textarea={{
      label: 'Message',
    }} -->
  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Website',
        description: 'probservatory.org',
        icon: 'tabler:device-desktop-star',
      },
      {
        title: 'Email',
        description: 'prisms.observatory@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '19 Lambert Dr, Princeton, NJ, USA',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
