---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
// import ContactUs from '~/components/widgets/Contact.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import FormContainer from '~/components/ui/Form.astro';
import type { Contact as Props } from '~/types';


import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
    title: 'Observe',
};

// const {
//   title = await Astro.slots.render('title'),
//   subtitle = await Astro.slots.render('subtitle'),
//   tagline = await Astro.slots.render('tagline'),
//   inputs,
//   textarea,
//   disclaimer,
//   button,
//   description,

//   id,
//   isDark = false,
//   classes = {},
//   bg = await Astro.slots.render('bg'),
// } = Astro.props;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout metadata={metadata}>
    <HeroText tagline="Observe" title="Control Panel" />
  <!-- the starting html with specific link to a instruction of observation -->
  <div
    class="max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
  >
    Go to <a
      class="bold underline border-yellow-500"
      href="https://stellarium-web.org/"
      target="_blank"
      rel="noopener noreferrer">Stellarium</a
    >, set the location as "Princeton", and time as currnet time. Then start to find your star and observe! A more
    detailed guide to find you stars is available <a
      class="bold underline border-yellow-500"
      href="https://docs.google.com/document/d/e/2PACX-1vQYncAuxxHOp9nn7c-zlQgzz-zZ5lejJGyGF9-J6DKV72fv0ySl7CmTAm-ej4Yr5AWlEQLJzjiJGXCa/pub"
      >here</a
    >.
  </div>

  <div class="max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full">
    <h1>Register</h1>
    <form method="post">
        <label>
          Username:
          <input type="text" name="username" required />
        </label>
        <label>
          Email:
          <input type="email" name="email" required />
        </label>
        <label>
          Password:
          <input type="password" name="password" required minlength="6" />
        </label>
        <button>Submit</button>
      </form>
  </div>

    
</Layout>
